<!DOCTYPE html>
<html>
<head>
  <title>Hntsvll</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" %>
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails", "application", "dont-stop-believing" %>
  <%= javascript_include_tag "jquery.raptorize.1.0.js", :cache => true %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
       $(window).load(function() {
            $('body').raptorize({'enterOn':'konami-code'});
       });
  </script>
</head>
<body>
  <div id="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="header_container">
    <div id="header">
      <h1>HNTSVLL</h1>
      <h2>creative + tech</h2>
    </div>
    <%= yield :header_sidebar%>
  </div>
    <%= yield %>
  </div>
</body>
</html>
